{% extends "master_template.html" %}

{% block title %}
    Fitness Videos
{% endblock title %}

{% block content %}
    <div class="greyborder d-flex flex-column mx-auto col-xl-10 px-1">
        <div class="mt-1 text-center">
            <h1 class="display-4 mark">Videos:</h1>
        </div>
        <div class="mt-3 d-flex flex-wrap">
            {% for post in posts %}
            <div class="greyborder mx-auto d-flex flex-column my-3 my-xl-1">
                <div class="text-center">
                    <h2>{{ post.title }}</h2>
                    <p>{{ post.video.url }}</p>
                </div>
                <div class="mx-auto">
                    <video controls="controls" src="{{ post.video.url }}" type="video/mp4" width="400px" height="200px"></video>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if has_perms %}
            <div class="d-flex col-4 mx-auto">
                <a href="{% url 'video_upload' %}" class="mx-auto btn btn-success mt-3 mb-2 white_text_button">Upload video</a>
            </div>
        {% endif %}
        <div class="d-flex col-4 mx-auto">
            <a href="{% url 'frontpage' %}" class="mx-auto btn btn-info white_text_button my-2">Back to frontpage</a>
        </div>
    </div>
    
{% endblock content %}
        
