{% extends "master_template.html" %}

{% block title %}
    Login
{% endblock title %}

{% block content %}
    <div class="greyborder d-flex flex-column mx-auto col-xl-4 px-2 pb-2 text-center">
        <div class="mt-1 text-center">
            <h1 class="display-4 mark">
                Add client
            </h1>
        </div>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_user">Clients</label>
                <select required name="user" class="form-select" id="id_user">
                    {% for id,username in clients %}
                        <option value="{{ id }}">{{ username }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-success my-2 white_text_button">Submit</button>
        </form>
        <div class="d-flex col-4 mx-auto">
            <a href="{% url 'frontpage' %}" class="mx-auto btn btn-info white_text_button my-2">Cancel</a>
        </div>
    </div>
{% endblock content %}